{{#if isFromMe}}
    <div class='messageBlock messageBlock-from-me'>
        <p>{{text}}<span>{{time}}</span></p>
    </div>
{{else}}
    <div class='messageBlock'>
        <p>{{text}}<span>{{time}}</span></p>
    </div>
{{/if}}